In [1]:
import pandas as pd

In [11]:
# create dataframe and remove extra column
raceResults = pd.read_csv('data/compiled-data/race-results.csv')
raceResults.drop(columns=['Unnamed: 0'], axis=1, inplace=True)
raceResults.head()

  POS           Driver           Car  Laps Time/Retired  PTS     Race
0   1  Charles Leclerc       Ferrari    57      37:33.6   26  BAHRAIN
1   2     Carlos Sainz       Ferrari    57      +5.598s   18  BAHRAIN
2   3   Lewis Hamilton      Mercedes    57      +9.675s   15  BAHRAIN
3   4   George Russell      Mercedes    57     +11.211s   12  BAHRAIN
4   5  Kevin Magnussen  Haas Ferrari    57     +14.754s   10  BAHRAIN

In [12]:
redBull = raceResults.loc[raceResults['Car'] == 'Red Bull Racing RBPT']
redBull.head()

,POS,Driver,Car,Laps,Time/Retired,PTS,Race
17,18,Sergio Perez,Red Bull Racing RBPT,56,DNF,0,BAHRAIN
18,19,Max Verstappen,Red Bull Racing RBPT,54,DNF,0,BAHRAIN
20,1,Max Verstappen,Red Bull Racing RBPT,50,24:19.3,25,SAUDI ARABIA
23,4,Sergio Perez,Red Bull Racing RBPT,50,+10.800s,12,SAUDI ARABIA
41,2,Sergio Perez,Red Bull Racing RBPT,58,+20.524s,18,AUSTRALIA

In [15]:
redBull['PTS'].mean()

16.285714285714285

In [16]:
ferrari = raceResults.loc[raceResults['Car'] == 'Ferrari']
ferrari.head()

   POS           Driver      Car  Laps Time/Retired  PTS          Race
0    1  Charles Leclerc  Ferrari    57      37:33.6   26       BAHRAIN
1    2     Carlos Sainz  Ferrari    57      +5.598s   18       BAHRAIN
21   2  Charles Leclerc  Ferrari    50      +0.549s   19  SAUDI ARABIA
22   3     Carlos Sainz  Ferrari    50      +8.097s   15  SAUDI ARABIA
40   1  Charles Leclerc  Ferrari    58      27:46.5   26     AUSTRALIA

In [17]:
ferrari['PTS'].mean()

11.642857142857142